<nav class="navbar-vertical-nav d-none d-xl-block ">
	<div class="navbar-vertical">
					<div class="px-4 py-5">
						<a href="https://freshcart.codescandy.com/index.html" class="navbar-brand">
							<img src="./Dashboard_files/freshcart-logo.svg" alt="">
						</a>
					</div>
					<div class="navbar-vertical-content flex-grow-1" data-simplebar="init"><div class="simplebar-wrapper" style="margin: 0px;"><div class="simplebar-height-auto-observer-wrapper"><div class="simplebar-height-auto-observer"></div></div><div class="simplebar-mask"><div class="simplebar-offset" style="right: 0px; bottom: 0px;"><div class="simplebar-content-wrapper" tabindex="0" role="region" aria-label="scrollable content" style="height: 100%; overflow: hidden scroll;"><div class="simplebar-content" style="padding: 0px;">
						<ul class="navbar-nav flex-column" id="sideNavbar">

							<li class="nav-item ">
								<a class="nav-link  active " href="{% url 'dashboard:dashboard' %}">
									<div class="d-flex align-items-center">
										<span class="nav-link-icon"> <i class="bi bi-house"></i></span>
										<span class="nav-link-text">Dashboard</span>
									</div>
								</a>
							</li>
							<li class="nav-item mt-6 mb-3">
								<span class="nav-label">Store Managements</span>
								<span class="nav-label">{{ request.user.username }}</span>
							</li>
							<li class="nav-item ">
								<a class="nav-link " href="{% url 'dashboard:dashboard_products' %}">
									<div class="d-flex align-items-center">
										<span class="nav-link-icon"> <i class="bi bi-cart"></i></span>
										<span class="nav-link-text">Producto</span>
									</div>
								</a>
							</li>
							<li class="nav-item ">
								<a class="nav-link " href="https://freshcart.codescandy.com/dashboard/categories.html">
									<div class="d-flex align-items-center">
										<span class="nav-link-icon"> <i class="bi bi-list-task"></i></span>
										<span class="nav-link-text">Categorias</span>
									</div>
								</a>
							</li>
							<li class="nav-item">
								<a class="nav-link   collapsed " href="#" data-bs-toggle="collapse" data-bs-target="#navCategoriesOrders" aria-expanded="false" aria-controls="navCategoriesOrders">
									<div class="d-flex align-items-center">
										<span class="nav-link-icon"> <i class="bi bi-bag"></i></span>
										<span class="nav-link-text">Pedidos</span>
									</div>
								</a>
								<div id="navCategoriesOrders" class="collapse " data-bs-parent="#sideNavbar">
									<ul class="nav flex-column">
										<li class="nav-item ">
											<a class="nav-link " href="{% url 'dashboard:ordered_items' %}">
												List
											</a>
										</li>
										<!-- Nav item -->
										<li class="nav-item ">
											<a class="nav-link " href="{% url 'dashboard:ordered_items' %}">
												Single

											</a>
										</li>
									</ul>
								</div>
							</li>

							<li class="nav-item ">
								<a class="nav-link " href="#">
									<div class="d-flex align-items-center">
										<span class="nav-link-icon"> <i class="bi bi-shop"></i></span>
										<span class="nav-link-text">Vendedores</span>
									</div>
								</a>
							</li>
							<li class="nav-item ">
								<a class="nav-link " href="{% url 'dashboard:dashboard_customer' %}">
									<div class="d-flex align-items-center">
										<span class="nav-link-icon"> <i class="bi bi-people"></i></span>
										<span class="nav-link-text">Clientes</span>
									</div>
								</a>
							</li>
							<li class="nav-item ">
								<a class="nav-link " href="{% url 'dashboard:export_excel' %}">
									<div class="d-flex align-items-center">
										<span class="nav-link-icon"> <i class="bi bi-star"></i></span>
										<span class="nav-link-text">Reporte en Excel</span>
									</div>
								</a>
							</li>
							 <!-- Nav item -->




						</ul>
					</div></div></div></div><div class="simplebar-placeholder" style="width: auto; height: 1066px;"></div></div><div class="simplebar-track simplebar-horizontal" style="visibility: hidden;"><div class="simplebar-scrollbar" style="width: 0px; display: none;"></div></div><div class="simplebar-track simplebar-vertical" style="visibility: visible;"><div class="simplebar-scrollbar" style="height: 660px; transform: translate3d(0px, 0px, 0px); display: block;"></div></div></div>
				</div>
				   <!-- navbar vertical -->

<nav class="navbar-vertical-nav d-none d-xl-block ">
	<div class="navbar-vertical">
					<div class="px-4 py-5">
						<a href="https://freshcart.codescandy.com/index.html" class="navbar-brand">
							<img src="./Dashboard_files/freshcart-logo.svg" alt="">
						</a>
					</div>
					<div class="navbar-vertical-content flex-grow-1" data-simplebar="init"><div class="simplebar-wrapper" style="margin: 0px;"><div class="simplebar-height-auto-observer-wrapper"><div class="simplebar-height-auto-observer"></div></div><div class="simplebar-mask"><div class="simplebar-offset" style="right: 0px; bottom: 0px;"><div class="simplebar-content-wrapper" tabindex="0" role="region" aria-label="scrollable content" style="height: 100%; overflow: hidden scroll;"><div class="simplebar-content" style="padding: 0px;">
						<ul class="navbar-nav flex-column" id="sideNavbar">

							<li class="nav-item ">
								<a class="nav-link  active " href="{% url 'dashboard:dashboard' %}">
									<div class="d-flex align-items-center">
										<span class="nav-link-icon"> <i class="bi bi-house"></i></span>
										<span class="nav-link-text">Dashboard</span>
									</div>
								</a>
							</li>
							<li class="nav-item mt-6 mb-3">
								<span class="nav-label">Store Managements</span>
								<span class="nav-label">{{ request.user.username }}</span>
							</li>
							<li class="nav-item ">
								<a class="nav-link " href="{% url 'dashboard:dashboard_products' %}">
									<div class="d-flex align-items-center">
										<span class="nav-link-icon"> <i class="bi bi-cart"></i></span>
										<span class="nav-link-text">Producto</span>
									</div>
								</a>
							</li>
							<li class="nav-item ">
								<a class="nav-link " href="https://freshcart.codescandy.com/dashboard/categories.html">
									<div class="d-flex align-items-center">
										<span class="nav-link-icon"> <i class="bi bi-list-task"></i></span>
										<span class="nav-link-text">Categorias</span>
									</div>
								</a>
							</li>
							<li class="nav-item">
								<a class="nav-link   collapsed " href="#" data-bs-toggle="collapse" data-bs-target="#navCategoriesOrders" aria-expanded="false" aria-controls="navCategoriesOrders">
									<div class="d-flex align-items-center">
										<span class="nav-link-icon"> <i class="bi bi-bag"></i></span>
										<span class="nav-link-text">Pedidos</span>
									</div>
								</a>
								<div id="navCategoriesOrders" class="collapse " data-bs-parent="#sideNavbar">
									<ul class="nav flex-column">
										<li class="nav-item ">
											<a class="nav-link " href="{% url 'dashboard:ordered_items' %}">
												Lista
											</a>
										</li>
										<!-- Nav item -->
										<li class="nav-item ">
											<a class="nav-link " href="{% url 'dashboard:ordered_items' %}">
												Single

											</a>
										</li>
									</ul>
								</div>
							</li>

							<li class="nav-item ">
								<a class="nav-link " href="https://freshcart.codescandy.com/dashboard/vendor-grid.html">
									<div class="d-flex align-items-center">
										<span class="nav-link-icon"> <i class="bi bi-shop"></i></span>
										<span class="nav-link-text">Vendedores</span>
									</div>
								</a>
							</li>
							<li class="nav-item ">
								<a class="nav-link " href="{% url 'dashboard:dashboard_customer' %}">
									<div class="d-flex align-items-center">
										<span class="nav-link-icon"> <i class="bi bi-people"></i></span>
										<span class="nav-link-text">Clientes</span>
									</div>
								</a>
							</li>
							<li class="nav-item ">
								<a class="nav-link " href="{% url 'dashboard:export_excel' %}">
									<div class="d-flex align-items-center">
										<span class="nav-link-icon"> <i class="bi bi-star"></i></span>
										<span class="nav-link-text">Reporte en Excel</span>
									</div>
								</a>
							</li>
							 <!-- Nav item -->


						</ul>
					</div></div></div></div><div class="simplebar-placeholder" style="width: auto; height: 1066px;"></div></div><div class="simplebar-track simplebar-horizontal" style="visibility: hidden;"><div class="simplebar-scrollbar" style="width: 0px; display: none;"></div></div><div class="simplebar-track simplebar-vertical" style="visibility: visible;"><div class="simplebar-scrollbar" style="height: 660px; transform: translate3d(0px, 0px, 0px); display: block;"></div></div></div>
				</div>
				</nav>

				<nav class="navbar-vertical-nav offcanvas offcanvas-start navbar-offcanvac" tabindex="-1" id="offcanvasExample">
					<div class="navbar-vertical">
									<div class="px-4 py-5 d-flex justify-content-between align-items-center">
										<a href="#" class="navbar-brand">
											<img src="./Dashboard_files/freshcart-logo.svg" alt="">
										</a>
										<button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
									</div>
									<div class="navbar-vertical-content flex-grow-1" data-simplebar="init"><div class="simplebar-wrapper" style="margin: 0px;"><div class="simplebar-height-auto-observer-wrapper"><div class="simplebar-height-auto-observer"></div></div><div class="simplebar-mask"><div class="simplebar-offset" style="right: 0px; bottom: 0px;"><div class="simplebar-content-wrapper" tabindex="0" role="region" aria-label="scrollable content" style="height: 100%; overflow: hidden scroll;"><div class="simplebar-content" style="padding: 0px;">
										<ul class="navbar-nav flex-column">
											<li class="nav-item ">
												<a class="nav-link  active " href="{% url 'dashboard:dashboard' %}">
													<div class="d-flex align-items-center">
														<span class="nav-link-icon"> <i class="bi bi-house"></i></span>
														<span>Dashboard</span>
													</div>
												</a>
											</li>
											<li class="nav-item mt-6 mb-3">
												<span class="nav-label">Store Managements</span></li>
											<li class="nav-item ">
												<a class="nav-link " href="{% url 'dashboard:dashboard_products' %}">
													<div class="d-flex align-items-center">
														<span class="nav-link-icon"> <i class="bi bi-cart"></i></span>
														<span class="nav-link-text">Productos</span>
													</div>
												</a>
											</li>
											<li class="nav-item ">
												<a class="nav-link " href="https://freshcart.codescandy.com/dashboard/categories.html">
													<div class="d-flex align-items-center">
														<span class="nav-link-icon"> <i class="bi bi-list-task"></i></span>
														<span class="nav-link-text">Categories</span>
													</div>
												</a>
											</li>
											<li class="nav-item">
												<a class="nav-link   collapsed " href="#" data-bs-toggle="collapse" data-bs-target="#navOrders" aria-expanded="false" aria-controls="navOrders">
													<div class="d-flex align-items-center">
														<span class="nav-link-icon"> <i class="bi bi-bag"></i></span>
														<span class="nav-link-text">Pedidos</span>
													</div>
												</a>
												<div id="navOrders" class="collapse " data-bs-parent="#sideNavbar">
													<ul class="nav flex-column">
														<li class="nav-item ">
															<a class="nav-link " href="#">
																List
															</a>
														</li>
														<!-- Nav item -->
														<li class="nav-item ">
															<a class="nav-link " href="https://freshcart.codescandy.com/dashboard/order-single.html">
																Single

															</a>
														</li>
													</ul>
												</div>
											</li>
											<li class="nav-item ">
												<a class="nav-link " href="#">
													<div class="d-flex align-items-center">
														<span class="nav-link-icon"> <i class="bi bi-shop"></i></span>
														<span class="nav-link-text">Sellers / Vendors</span>
													</div>
												</a>
											</li>
											<li class="nav-item ">
												<a class="nav-link " href="{% url 'dashboard:dashboard_customer' %}">
													<div class="d-flex align-items-center">
														<span class="nav-link-icon"> <i class="bi bi-people"></i></span>
														<span class="nav-link-text">Customers</span>
													</div>
												</a>
											</li>
											<li class="nav-item ">
												<a class="nav-link " href="{% url 'dashboard:export_excel' %}">
													<div class="d-flex align-items-center">
														<span class="nav-link-icon"> <i class="bi bi-star"></i></span>
														<span class="nav-link-text">Reporte en Excel</span>
													</div>
												</a>
											</li>
											
											


										</ul>
									</div></div></div></div><div class="simplebar-placeholder" style="width: auto; height: 1014px;"></div></div><div class="simplebar-track simplebar-horizontal" style="visibility: hidden;"><div class="simplebar-scrollbar" style="width: 0px; display: none;"></div></div><div class="simplebar-track simplebar-vertical" style="visibility: visible;"><div class="simplebar-scrollbar" style="height: 694px; transform: translate3d(0px, 0px, 0px); display: block;"></div></div></div>
								</div>

								</nav> </nav>

				<nav class="navbar-vertical-nav offcanvas offcanvas-start navbar-offcanvac" tabindex="-1" id="offcanvasExample">
					<div class="navbar-vertical">
									<div class="px-4 py-5 d-flex justify-content-between align-items-center">
										<a href="#" class="navbar-brand">
											<img src="./Dashboard_files/freshcart-logo.svg" alt="">
										</a>
										<button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
									</div>
									<div class="navbar-vertical-content flex-grow-1" data-simplebar="init"><div class="simplebar-wrapper" style="margin: 0px;"><div class="simplebar-height-auto-observer-wrapper"><div class="simplebar-height-auto-observer"></div></div><div class="simplebar-mask"><div class="simplebar-offset" style="right: 0px; bottom: 0px;"><div class="simplebar-content-wrapper" tabindex="0" role="region" aria-label="scrollable content" style="height: 100%; overflow: hidden scroll;"><div class="simplebar-content" style="padding: 0px;">
										<ul class="navbar-nav flex-column">
											<li class="nav-item ">
												<a class="nav-link  active " href="{% url 'dashboard:dashboard' %}l">
													<div class="d-flex align-items-center">
														<span class="nav-link-icon"> <i class="bi bi-house"></i></span>
														<span>Dashboard</span>
													</div>
												</a>
											</li>
											<li class="nav-item mt-6 mb-3">
												<span class="nav-label">Store Managements</span></li>
											<li class="nav-item ">
												<a class="nav-link " href="{% url 'dashboard:dashboard_products' %}">
													<div class="d-flex align-items-center">
														<span class="nav-link-icon"> <i class="bi bi-cart"></i></span>
														<span class="nav-link-text">Productos</span>
													</div>
												</a>
											</li>
											<li class="nav-item ">
												<a class="nav-link " href="#">
													<div class="d-flex align-items-center">
														<span class="nav-link-icon"> <i class="bi bi-list-task"></i></span>
														<span class="nav-link-text">Categories</span>
													</div>
												</a>
											</li>
											<li class="nav-item">
												<a class="nav-link   collapsed " href="#" data-bs-toggle="collapse" data-bs-target="#navOrders" aria-expanded="false" aria-controls="navOrders">
													<div class="d-flex align-items-center">
														<span class="nav-link-icon"> <i class="bi bi-bag"></i></span>
														<span class="nav-link-text">Pedidos</span>
													</div>
												</a>
												<div id="navOrders" class="collapse " data-bs-parent="#sideNavbar">
													<ul class="nav flex-column">
														<li class="nav-item ">
															<a class="nav-link " href="{% url 'dashboard:ordered_items' %}">
																List
															</a>
														</li>
														<!-- Nav item -->
														<li class="nav-item ">
															<a class="nav-link " href="{% url 'dashboard:ordered_items' %}">
																Single

															</a>
														</li>
													</ul>
												</div>
											</li>
											<li class="nav-item ">
												<a class="nav-link " href="#">
													<div class="d-flex align-items-center">
														<span class="nav-link-icon"> <i class="bi bi-shop"></i></span>
														<span class="nav-link-text">Sellers / Vendors</span>
													</div>
												</a>
											</li>
											<li class="nav-item ">
												<a class="nav-link " href="#">
													<div class="d-flex align-items-center">
														<span class="nav-link-icon"> <i class="bi bi-people"></i></span>
														<span class="nav-link-text">Customers</span>
													</div>
												</a>
											</li>
											<li class="nav-item ">
												<a class="nav-link " href="{% url 'dashboard:export_excel' %}">
													<div class="d-flex align-items-center">
														<span class="nav-link-icon"> <i class="bi bi-star"></i></span>
														<span class="nav-link-text">Reporte en Excel</span>
													</div>
												</a>
											</li>
											
											

										</ul>
									</div></div></div></div><div class="simplebar-placeholder" style="width: auto; height: 1014px;"></div></div><div class="simplebar-track simplebar-horizontal" style="visibility: hidden;"><div class="simplebar-scrollbar" style="width: 0px; display: none;"></div></div><div class="simplebar-track simplebar-vertical" style="visibility: visible;"><div class="simplebar-scrollbar" style="height: 694px; transform: translate3d(0px, 0px, 0px); display: block;"></div></div></div>
								</div>

								</nav>


