{% extends "main.html" %}

{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}
    <h1>{% trans "Sign Up" %}</h1>




 
  <main>
  <!-- section -->
  <section class="my-lg-14 my-8">
    <div class="container">
      <!-- row -->
      <div class="row justify-content-center align-items-center">
        <div class="col-12 col-md-6 col-lg-4 order-lg-1 order-2">
          <!-- img -->
          <img src="./login_files/signin-g.svg" alt="" class="img-fluid">
        </div>
        <!-- col -->
        <div class="col-12 col-md-6 offset-lg-1 col-lg-4 order-lg-2 order-1">
          <div class="mb-lg-9 mb-5">
            <h1 class="mb-1 h2 fw-bold">{% trans "Crea tu cuenta" %}</h1>

            <p>{% blocktrans with provider_name=account.get_provider.name site_name=site.name %}You are about to use your {{provider_name}} account to login to
              {{site_name}}. As a final step, please complete the following form:{% endblocktrans %}</p>

          </div>

          <form class="signup" id="signup_form" method="post" action="{% url 'socialaccount_signup' %}">
            
            <div class="row g-3">
              <!-- row -->

              <div class="col-12">
                <!-- input -->
                
                  

                {% csrf_token %}
                {{ form.as_p }}
                {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                {% endif %}
                <button type="submit" class="btn btn-primary">{% trans "Sign Up" %} &raquo;</button>

                  
                  
                </div>

               

            </div>
              
          </form>
        </div>
      </div>
    </div>
  </section>

</main>
{% endblock %}
