<!-- Shop Cart -->
			
<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
	<div class="offcanvas-header border-bottom">
	  <div class="text-start">
		<h5 id="offcanvasRightLabel" class="mb-0 fs-4">Carrito de Compras</h5>
		<small>¡Bienvenido {{request.user}}</small>
	  </div>
	  <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
	</div>
	<div class="offcanvas-body">
  
	  <div class="">
		<!-- alert -->
		<div id="shopping_cart_alert">
			<div class="alert alert-danger p-2" role="alert" >
				No Tiene Ningun Pedido <a href="#" class="alert-link">todavia</a>
			</div>
		</div>

		<ul class="list-group list-group-flush" id="shopping_cart">
  
		 
  
		</ul>
		
		<!-- btn -->
		<div class="d-flex justify-content-between mt-4">
		  <a href="/" class="btn btn-primary">Seguir comprando</a>
		  <a href="/checkout" class="btn btn-dark">Pagar</a>
		</div>
  
	  </div>
	</div>
  </div>