{% extends 'main.html' %} 
{% load static %} 
{% load crispy_forms_tags %}

{% block content %}


<style>
#map{
height: 30vh;
width: 100%;
margin-bottom: 10px;
display: none;
}
@media (max-width: 360px) {
  .wizard li {
    color: transparent;
  }
}
</style>

<main>
  <!-- section -->
    <section>
      <!-- container -->
      <div class="container">
        <!-- row -->
        <div class="row">
          <!-- col -->
          <div class="col-12">
            <div class="d-flex justify-content-between align-items-center d-md-none py-4">
              <!-- heading -->
              <h3 class="fs-5 mb-0">Account Setting</h3>
              <!-- button -->
              <button class="btn btn-outline-gray-400 text-muted d-md-none btn-icon btn-sm ms-3 " type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasAccount" aria-controls="offcanvasAccount">
                <i class="bi bi-text-indent-left fs-3"></i>
              </button>
            </div>
          </div>
          <!-- col -->
          <div class="col-lg-3 col-md-4 col-12 border-end  d-none d-md-block">
            <div class="pt-10 pe-lg-10">
              <!-- nav -->
              {% include 'layout/menu.html' %}>
              {% include "order_snippet.html" %}
            </div>
          </div>

            <form form method="POST" action="/checkout/" class="col-lg-9 col-md-8 col-12">
              {% csrf_token %} 
              <div class="py-6 p-md-6 p-lg-10">
                <div class="d-flex justify-content-between mb-6">
                  <!-- heading -->
                  <h2 class="mb-0">Dirección</h2>
                  <!-- button -->
                  <a href="#" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#addAddressModal">añadir una nueva dirección</a>
                </div>
                <div class="row" style="justify-content: space-between;">
                  <!-- col -->
                  {% for address in billing_address %}
                  <div class="col-lg-5 col-xxl-4 col-12 mb-4">
                    <!-- input -->
                    <div class="card">
                      <div class="card-body p-6">
                      <div class="form-check mb-4">
                        <input class="form-check-input" type="radio" name="address_id" id="officeRadio" value="{{address.id}}">
                        <label class="form-check-label text-dark fw-semi-bold" for="officeRadio">
                          {{address.tag}}
                        </label>
                      </div>
                      <!-- nav item -->
                      <p class="mb-6">{{address.street_address}}<br>
    
                        {{address.street_country}} <br>
    
                        <br>
    
                        telefono {{address.phone}}</p>
                        <!-- link -->
                      <a href="#" class="link-primary">Set as Default</a>
                      <div class="mt-4">
                        <a href="#" class="text-inherit">Edit </a>
                        <!-- btn -->
                        <a href="#" class="text-danger ms-3" data-bs-toggle="modal" data-bs-target="#deleteModal">Delete
                        </a>
                      </div>
                      </div>
                    </div>
                  </div>
                  {% endfor %}
                </div>
                <div class="row">
                  <div class="mb-3">
                    <div id="map"></div>
                    
                  </div>
                </div>
              </div>
              <button class="btn btn-primary btn-lg btn-block" type="submit">Confirmar Pedido</button>
            </form>
          <hr class="mb-4">
        </div>
      </div>
    </section>
  </main>


    <!-- Modal -->
    <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <!-- modal content -->
        <div class="modal-content">
          <!-- modal header -->
          <div class="modal-header">
            <h5 class="modal-title" id="deleteModalLabel">Delete address</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <!-- modal body -->
          <div class="modal-body">
            <h6>Are you sure you want to delete this address?</h6>
            <p class="mb-6">Jitu Chauhan<br>
  
              4450 North Avenue Oakland, <br>
  
              Nebraska, United States,<br>
  
              402-776-1106</p>
          </div>
          <!-- modal footer -->
          <div class="modal-footer">
            <!-- btn -->
            <button type="button" class="btn btn-outline-gray-400" data-bs-dismiss="modal">Cancel</button>
            <button type="button" class="btn btn-danger">Delete</button>
          </div>
        </div>
      </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="addAddressModal" tabindex="-1" aria-labelledby="addAddressModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <!-- modal content -->
        <div class="modal-content">
  <!-- modal body -->
          <div class="modal-body p-6">
            <div class="d-flex justify-content-between mb-5">
              <div>
                <!-- heading -->
                <h5 class="mb-1" id="addAddressModalLabel">Nueva Dirección de Entrega</h5>
                <p class="small mb-0">Add new shipping address for your order delivery.</p>
              </div>
              <div>
                <!-- button -->
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
            </div> 
            <form method="POST" action="/address">
              {% csrf_token %}            
            <!-- row -->
            <div class="row g-3">
              <!-- col -->
              <div class="col-12">
                <button type="button" class="btn btn-primary" onclick="get_ubication()" style="float:right; margin: 5px; position: relative;">
                  usar mi ubicación 
                </button>
              </div>
              <div class="col-12">
                 <!-- input -->
    
                  {{ form.street_address }}
                    

                  <div class="list-group list-group-flush" id="address-list">
              
                    
                  </div>
              </div>
              <div class="col-12">
                <!-- input -->
                {{ form.tag}}
              </div>
               <!-- col -->
              <div class="col-12">
                 <!-- input -->
                 
                 {{ form.apartment_number }}
                
              </div>
   <!-- col -->
              <div class="col-12">
   <!-- input -->
                {{ form.phone}}
              </div>
               <!-- col -->
               {{ form.latitude}}
               {{ form.longitude}}
               <!-- col -->
              <div class="col-12">
   <!-- input -->
                <select class="form-control round" id="payment_shipping"  name="payment_shipping">
                  {% for value, name in  form.fields.payment_shipping.choices %}
                  <option value="{{ value }}">{{ name }}</option>
                  {% endfor %}
                </select>
              </div>
               <!-- col -->
              <div class="col-12">
   <!-- form select -->
                <select class="form-control round" id="payment_option"  name="payment_option">
                  {% for value, name in form.fields.payment_option.choices %}
                  <option value="{{ value }}">{{ name }}</option>
                  {% endfor %}
                  
                </select>
              </div>
              
               <!-- col -->
              <div class="col-12">
                 <!-- form check -->
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                  <label class="form-check-label" for="flexCheckDefault">
                    Establecer por defecto
                  </label>
                </div>
              </div>
               <!-- col -->
              <div class="col-12 text-end">
                <button type="button" class="btn btn-outline-primary" data-bs-dismiss="modal">Cancelar</button>
                <button class="btn btn-primary" type="submit">Guardar dirección</button>
              </div>
            </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <!-- modal -->
    <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasAccount" aria-labelledby="offcanvasAccountLabel">
       <!-- offcanvac header -->
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasAccountLabel">Offcanvas</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
       <!-- offcanvac body -->
      <div class="offcanvas-body">
         <!-- nav -->
        <ul class="nav flex-column nav-pills nav-pills-dark">
           <!-- nav item -->
          <li class="nav-item">
            <a class="nav-link " aria-current="page" href="#"><i class="feather-icon icon-shopping-bag me-2"></i>Your Orders</a>
          </li>
           <!-- nav item -->
          <li class="nav-item">
            <a class="nav-link " href="#"><i class="feather-icon icon-settings me-2"></i>Settings</a>
          </li>
           <!-- nav item -->
          <li class="nav-item">
            <a class="nav-link active" href="#"><i class="feather-icon icon-map-pin me-2"></i>Address</a>
          </li>
           <!-- nav item -->
          <li class="nav-item">
            <a class="nav-link" href="#"><i class="feather-icon icon-credit-card me-2"></i>Payment Method</a>
          </li>
           <!-- nav item -->
          <li class="nav-item">
            <a class="nav-link" href="#"><i class="feather-icon icon-bell me-2"></i>Notification</a>
          </li>
        </ul>
        <hr class="my-6">
        <div>
           <!-- nav -->
          <ul class="nav flex-column nav-pills nav-pills-dark">
             <!-- nav item -->
            <li class="nav-item">
              <a class="nav-link " href="#"><i class="feather-icon icon-log-out me-2"></i>Log out</a>
            </li>
  
          </ul>
        </div>
      </div>
    </div>
  






  


<script
  src="https://code.jquery.com/jquery-3.6.4.min.js"
  integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8="
  crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-beta.2/css/bootstrap.css"></script>
  <script src="https://unpkg.com/popper.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.19.1/TweenMax.min.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAvZHH8PoRPayr4FWxEpkZ1lLqo1NFsvN8"></script>




<script>
  const mapArea = document.getElementById('map');


const direccion = document.getElementById('direccion');
const locationsAvailable = document.getElementById('locationList');
let Gmap, Gmarker;

const __KEY = "AIzaSyAvZHH8PoRPayr4FWxEpkZ1lLqo1NFsvN8";

get_select_result = (result, number_address) =>{
  //document.getElementById("address").value = ''
  document.getElementById("address-search").value = result
  document.getElementById("address_number").value = number_address
  document.getElementById("address-list").style.display = 'none'
  //console.log(result)
};

get_ubication = () =>{
  // hide the button 
  //actionBtn.style.display = "";

  // get the user's position
  getLocation();
 
  getMapLocation();
};

getLocation = () => {
  if (navigator.geolocation) {
    console.log('localizacion')
    navigator.geolocation.getCurrentPosition(displayLocation, showError, options)

  }
  else {
    console.log('Sorry, your browser does not support this feature... Please Update your Browser to enjoy it');
  }
}

// displayLocation
displayLocation = (position) => {
  const lat = position.coords.latitude;
  const lng = position.coords.longitude;

  const latlng = { lat, lng }
  console.log(latlng)
  showMap(latlng, lat, lng);
  createMarker(latlng);
  const mapArea = document.getElementById('map');
  mapArea.style.display = "block";
  getGeolocation(lat, lng);

}

// Recreates the map
showMap = (latlng, lat, lng) => {
  let mapOptions = {
    center: latlng,
    zoom: 17
  };

  Gmap = new google.maps.Map(mapArea, mapOptions);

  Gmap.addListener('drag', function () {
    Gmarker.setPosition(this.getCenter()); // set marker position to map center
  });

  Gmap.addListener('dragend', function () {
    Gmarker.setPosition(this.getCenter()); // set marker position to map center
  });

  Gmap.addListener('idle', function () {

    Gmarker.setPosition(this.getCenter()); // set marker position to map center

    if (Gmarker.getPosition().lat() !== lat || Gmarker.getPosition().lng() !== lng) {
      setTimeout(() => {
        // console.log("I have to get new geocode here!")
        updatePosition(this.getCenter().lat(), this.getCenter().lng()); // update position display
      }, 2000);
    }
  });

}

// Displays the different error messages
showError = (error) => {
  mapArea.style.display = "block"
  switch (error.code) {
    case error.PERMISSION_DENIED:
      mapArea.innerHTML = "You denied the request for your location."
      break;
    case error.POSITION_UNAVAILABLE:
      mapArea.innerHTML = "Your Location information is unavailable."
      break;
    case error.TIMEOUT:
      mapArea.innerHTML = "Your request timed out. Please try again"
      break;
    case error.UNKNOWN_ERROR:
      mapArea.innerHTML = "An unknown error occurred please try again after some time."
      break;
  }
}

const options = {
  enableHighAccuracy: true
}

// displayLocation
displayLocation = (position) => {
  const lat = position.coords.latitude;
  const lng = position.coords.longitude;

  const latlng = { lat, lng }

  //showMap(latlng, lat, lng);
  //createMarker(latlng);
  //mapArea.style.display = "block";
  getGeolocation(lat, lng);

}

  getGeolocation = (lat, lng) => {

  const latlng = lat + "," + lng;
  document.getElementById("latitude").value = lat;
  document.getElementById("longitude").value = lng;
  fetch(`https://maps.googleapis.com/maps/api/geocode/json?latlng=${latlng}&key=${__KEY}`)

    .then(res => res.json())
    .then(data => populateCard(data.results));

  }

  populateCard = (geoResults) => {
  // check if a the container has a child node to force re-render of dom
  let template = ''
  document.getElementById("address-list").innerHTML = template;
  geoResults.map(geoResult => {
    let address = geoResult.formatted_address
    let number_address = geoResult.address_components[0].short_name
    address = address.toString()
    
    
    template = 
    `
    
        <a href="#" class="list-group-item d-flex justify-content-between align-items-center px-2 py-3 list-group-item-action" onclick="get_select_result('${address}','${number_address}')">
        <span>${geoResult.formatted_address}</span>
        </a>
        `
        //console.log(geoResult)
        document.getElementById("address-list").innerHTML += template;
    })

  }


</script>

<script>
  function myFunction() {
    document.getElementById("address-list").style.display = 'list-item'
    let inputValue = document.getElementById('address-search').value
    console.log(inputValue)
    inputValue=inputValue.toLowerCase();
    ul = document.getElementById("address-list");
    x = ul.getElementsByTagName('li');
      
    for (i = 0; i < x.length; i++) { 
        if (!x[i].innerHTML.toLowerCase().includes(inputValue)) {
            x[i].style.display="none";
        }
        else {
            x[i].style.display="list-item";                 
        }
    }
  }
   
  </script>

<script type="text/javascript">
getMapLocation = () =>{
  var locations = [
      ['Bondi Beach', -33.890542, 151.274856, 4],
      ['Coogee Beach', -33.923036, 151.259052, 5],
      ['Cronulla Beach', -34.028249, 151.157507, 3],
      ['Manly Beach', -33.80010128657071, 151.28747820854187, 2],
      ['Maroubra Beach', -33.950198, 151.259302, 1]
    ];
    let mapCanvas = document.getElementById('map')
    mapCanvas.style.display = 'block'
    var map = new google.maps.Map(mapCanvas, {
      zoom: 10,
      center: new google.maps.LatLng(-33.92, 151.25),
      mapTypeId: google.maps.MapTypeId.ROADMAP
    });

    var infowindow = new google.maps.InfoWindow();

    var marker, i;

    for (i = 0; i < locations.length; i++) {  
      marker = new google.maps.Marker({
        position: new google.maps.LatLng(locations[i][1], locations[i][2]),
        map: map
      });

      google.maps.event.addListener(marker, 'click', (function(marker, i) {
        return function() {
          infowindow.setContent(locations[i][0]);
          infowindow.open(map, marker);
        }
      })(marker, i));
    }
}
</script>
{% endblock content %}


