{% extends 'base.html' %} 
{% load static %} 
{% block content %}
<style>



.wizard {
  display: flex;
  padding: 0;
  overflow: hidden;
  counter-reset: wizard;
}
.wizard li {
  flex: 1;
  list-style-type: none;
  position: relative;
  text-align: center;
  font-size: 16px;
  color: #282828;
}
.wizard li:before {
  counter-increment: wizard;
  content: counter(wizard);
  display: block;
  color: #ffffff;
  background-color: #93c737;
  border: 4px solid #93c737;
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50%;
  position: relative;
  left: 50%;
  margin-bottom: 20px;
  margin-left: -20px;
  z-index: 1;
  font-size: 20px;
  font-weight: bold;
  transition: all 0.5s ease-in;
}
.wizard li:after {
  background: linear-gradient(to right, #93c737 50%, #d6dce9 50%);
  background-size: 200% 100%;
  background-position: left bottom;
  transition: background 0.5s ease-in;
}
.wizard li + li:after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  position: absolute;
  left: -50%;
  top: 20px;
}
.wizard li.active:before {
  background-color: #ffffff;
  color: #1b2f73;
  border: 4px solid #1b2f73;
}
.wizard li.active ~ li:after {
  background-color: #d6dce9;
  background-position: right bottom;
}
.wizard li.active ~ li:before {
  background-color: #ffffff;
  color: #d6dce9;
  border-color: #d6dce9;
}
@media (max-width: 360px) {
  .wizard li {
    color: transparent;
  }
}
</style>
<ul class="wizard">
  <li class="active">Paso 1</li>
  <li class="">Paso 2</li>
  <li class="">Paso 3</li>
</ul>

<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h2>Resumen del pedido</h2>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Foto</th>
            <th scope="col">Nombre del producto</th>
            <th scope="col">Precio</th>
            <th scope="col">Cantidad</th>
            <th scope="col">Total</th>
          </tr>
        </thead>
        <tbody>
          {% for order_item in object.items.all %}
          <tr>
            <th scope="row">{{ forloop.counter }}</th>
            <td>
			        <img src="{{ order_item.item.image.url }}" style="width: 130px;"> 
            </td>
            <td>{{ order_item.item.title }}</td>
            <td>{{ order_item.item.price }}</td>
            <td>
            	<a href="{% url 'shopping:remove-single-item-from-cart' order_item.item.slug %}"><i class="fas fa-minus mr-3"></i></a>
            	{{ order_item.quantity }}
            	<a href="{% url 'shopping:add-to-cart' order_item.item.slug %}"><i class="fas fa-plus ml-3"></i></a>
            </td>
            <td>
              {% if order_item.item.discount_price %}
                  ${{ order_item.get_total_discount_item_price}}
                  <span class="badge badge-primary">  Saving ${{ order_item.get_amount_saved }}</span>
              {% else %}
                  ${{ order_item.get_total_item_price}}
              {% endif %}
              <a style="color: red" href="{% url 'shopping:remove-from-cart' order_item.item.slug %}">
              	<i class="fas fa-trash float-right"></i>
              </a>
            </td>
          </tr>
          {% empty %}
          <tr>
			<td colspan="5">Su carrito esta vacio</td>
          </tr>
        </tbody>
        {% endfor %}
        {% if object.coupon %}
        <tr>
          <td colspan="5"><b>Coupon : </b></td>
          <td>- ${{ object.coupon.amount }}</td>
        </tr>
        {% endif%}
        {% if object.get_total %}
        <tr>
        	<td colspan="5"><b>Order Total : </b></td>
        	<td><b>${{ object.get_total }}</b></td>
        </tr>
        <tr>
        	<td colspan="5">
        		<a href="/checkout" class="btn btn-warning float-right ml-2">pago</a>
        		<a href="/" class="btn btn-primary float-right">Continue Shopping</a>

        	</td>
        </tr>
        {% endif %}
      </table>
    </div>
  </div>
</div>

{% endblock content %}


