{% extends 'main.html' %}
		{% load static %}
		
		{% block content %}
		
		{% include 'header2.html' %}
<main>
    <!-- section -->
    <section>
      <div class="container">
        <!-- row -->
        <div class="row">
          <!-- col -->
          <div class="col-12">
            <div class="d-flex justify-content-between align-items-center d-md-none py-4">
              <!-- heading -->
              <h3 class="fs-5 mb-0">Account Setting</h3>
              <!-- button -->
              <button class="btn btn-outline-gray-400 text-muted d-md-none btn-icon btn-sm ms-3 " type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasAccount" aria-controls="offcanvasAccount">
                <i class="bi bi-text-indent-left fs-3"></i>
              </button>
            </div>
          </div>
          <!-- col -->
          <div class="col-lg-3 col-md-4 col-12 border-end  d-none d-md-block">
            <div class="pt-10 pe-lg-10">
              <!-- nav -->
              <ul class="nav flex-column nav-pills nav-pills-dark">
                <!-- nav item -->
                <li class="nav-item">
                  <!-- nav link -->
                  <a class="nav-link" aria-current="page" href="/address"><i class="feather-icon icon-map-pin me-2"></i>Dirección</a>
                </li>
                <!-- nav item -->
                <li class="nav-item">
                  <a class="nav-link " href="/metodopago"><i class="feather-icon icon-credit-card me-2"></i>Método de Pago</a>
                </li>
                <!-- nav item -->
                <li class="nav-item">
                  <a class="nav-link active" href="/pedidos"><i class="feather-icon icon-shopping-bag me-2"></i>Tus Pedidos</a>
                </li>
                
                <!-- nav item -->
                <li class="nav-item">
                  <hr>
                </li>
               
              </ul>
            </div>
          </div>
          <div class="col-lg-9 col-md-8 col-12">
            <div class="py-6 p-md-6 p-lg-10">
              <!-- heading -->
              <h2 class="mb-6">Tus Pedidos</h2>
  
              <div class="table-responsive-xxl border-0">
                <!-- Table -->
                <table class="table mb-0 text-nowrap table-centered ">
                  <!-- Table Head -->
                  <thead class="bg-light">
                    <tr>
                      <th>Pedido</th>
                      <th>Pago</th>
                      <th>Date</th>
                      <th>Items</th>
                      <th>Estado</th>
                      <th>Monto</th>
  
                      <th></th>
                    </tr>
                  </thead>
                  <tbody>
                    <!-- Table body -->
                    {% for order in orders %}
                    <tr>
                      <td class="align-middle border-top-0">
                        <a href="#" class="text-inherit">#{{order.ref_code}}</a>
                      </td>
                      <td class="align-middle border-top-0">
                        <h6 class="mb-0">{{order.payment.methods}}</h6>
                      </td>
                      <td class="align-middle border-top-0">
                        {{order.ordered_date}}
                      </td>
                      <td class="align-middle border-top-0">
                        {{order.get_quantity}}
  
                      </td>
                      <td class="align-middle border-top-0">
                        {%if order.received == 1 %}
                        <span class="badge bg-success">Resivido</span>
                        {% else %}
                        <span class="badge bg-warning">Pendiente</span>
                        {% endif %}
                      </td>
                      <td class="align-middle border-top-0">
                        ${{order.payment.amount}}
                      </td>
                      <td class="text-muted align-middle border-top-0">
                        <a href="#" class="dropdown-item text-inherit" href="#" data-toggle="modal" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="View" data-target="#exampleModalCenter" onclick="detalles({{order.id}})"><i class="feather-icon icon-eye"></i></a>
                        
                      </td>
                    </tr>
                    {% endfor %}
                   
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  

    <!-- Modal -->
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Historial de Productos order N° #123</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        </div>
        <div class="modal-body">
          <div class="card-body">
                <div class="row">
                  <div class="col-md-12">
                    <div class="table-responsive table-hover table-sales">
                      <table class="table">
                        <thead>
                          <tr>
                            <th>Img</th>
                            <th>Titulo</th>
                            <th>Precio</th>
                            <th>Quantity</th>
                            
                          </tr>
                        </thead>
                        <tfoot>
                          <tr>
                            <th>Img</th>
                            <th>Titulo</th>
                            <th>Precio</th>
                            <th>Quantity</th>
                          </tr>
                        </tfoot>
                        <tbody id="detalles_items">
                          
                        
                        </tbody>
                      </table>
                    </div>
                  </div>
                  
                </div>
              </div>
        </div>
        <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
      </div>
    </div>
  </main>

  {% include 'dashboard/includes/scripts.html' %}
  	<!-- Atlantis DEMO methods, don't include it in your project! -->
	<script src="/static/assets/js/setting-demo.js"></script>
	<script src="/static/assets/js/demo.js"></script>
  <script>
    function detalles(order_id) {
        //e.preventDefault();
        $.ajax({
        url: "/dashboardorder_api/"+order_id,
        type: 'GET',
        dataType: 'json', // added data type
            success: function(res) {
                console.log(res.items);
                let template = ''
                document.getElementById("detalles_items").innerHTML = template
                for (var key in res.items) {
                    template = `
                
                        <tr>
                            <td>
                                <div class="flag">
                                    <img src="/media/${res.items[key]['img']}" style="width: 60px;"> 
                                </div>
                            </td>
                            <td class="text-right">
                                ${res.items[key]['title']}
                            </td>
                            <td class="text-right">
                                ${res.items[key]['price']}
                            </td>
                            <td class="text-right">
                                ${res.items[key]['quantity']}
                            </td>
                            
                        </tr>`; 
                    
                    document.getElementById("detalles_items").innerHTML += template;
                }
                //document.getElementById("detalles_items").innerHTML = template;
            }
        })
    }

    //function update order
    function updateOrder(order_id) {
        template = `
        <form class="form-group" method="get" action="/dashboardreceived/${order_id}">
    {% csrf_token %}
            <label for="exampleFormControlTextarea1">Nota de Entrega</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="note"></textarea>
        
            <div class="form-group">
      <button type="submit" class="btn btn-secondary">Enviar</button>
    </div>
        </form>
        `; 
                    
        document.getElementById("update_order_item").innerHTML = template;
    }

</script>
  {% endblock content %}