{% extends "main.html" %}

{% block title %} Dashboard {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
<!-- Modal -->


<body inmaintabuse="1">
    <!-- main -->
    <div>
    <nav class="navbar navbar-expand-lg navbar-glass">
    	<div class="container-fluid">
        <div class="d-flex justify-content-between align-items-center w-100">
            <div class="d-flex align-items-center">

                <a class="text-inherit d-block d-xl-none me-4" data-bs-toggle="offcanvas" href="#" role="button" aria-controls="offcanvasExample">
                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-text-indent-right" viewBox="0 0 16 16">
                    <path d="M2 3.5a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5zm10.646 2.146a.5.5 0 0 1 .708.708L11.707 8l1.647 1.646a.5.5 0 0 1-.708.708l-2-2a.5.5 0 0 1 0-.708l2-2zM2 6.5a.5.5 0 0 1 .5-.5h6a.5.5 0 0 1 0 1h-6a.5.5 0 0 1-.5-.5zm0 3a.5.5 0 0 1 .5-.5h6a.5.5 0 0 1 0 1h-6a.5.5 0 0 1-.5-.5zm0 3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5z"></path>
                  </svg>
            </a>

                <form role="search">
                    <input class="form-control" type="search" placeholder="Search" aria-label="Search">

                </form>
            </div>
            <div>
                <ul class="list-unstyled d-flex align-items-center mb-0 ms-5 ms-lg-0">

                    <li class="dropdown ">
                        <a class="position-relative btn-icon btn-ghost-secondary btn rounded-circle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="bi bi-bell fs-5"></i>
                            <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger mt-2 ms-n2">
                                2
                                <span class="visually-hidden">unread messages</span>
                            </span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-end dropdown-menu-lg p-0 border-0 ">
                            <div class="border-bottom p-5 d-flex
              justify-content-between align-items-center">
              <div>
                                <h5 class="mb-1">Notifications</h5>
                                <p class="mb-0 small">You have 2 unread messages</p>
                            </div>
                                <a href="https://freshcart.codescandy.com/dashboard/index.html#!" class="text-muted">
                                    </a><a href="https://freshcart.codescandy.com/dashboard/index.html#" class="btn btn-ghost-secondary btn-icon rounded-circle" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="Mark all as read">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="currentColor" class="bi bi-check2-all text-success" viewBox="0 0 16 16">
                                            <path d="M12.354 4.354a.5.5 0 0 0-.708-.708L5 10.293 1.854 7.146a.5.5 0 1 0-.708.708l3.5 3.5a.5.5 0 0 0 .708 0l7-7zm-4.208 7-.896-.897.707-.707.543.543 6.646-6.647a.5.5 0 0 1 .708.708l-7 7a.5.5 0 0 1-.708 0z"></path>
                                            <path d="m5.354 7.146.896.897-.707.707-.897-.896a.5.5 0 1 1 .708-.708z"></path>
                                          </svg>
                                        </a>
                                
                            </div>
                            <div data-simplebar="init" style="height: 250px;"><div class="simplebar-wrapper" style="margin: 0px;"><div class="simplebar-height-auto-observer-wrapper"><div class="simplebar-height-auto-observer"></div></div><div class="simplebar-mask"><div class="simplebar-offset" style="right: 0px; bottom: 0px;"><div class="simplebar-content-wrapper" tabindex="0" role="region" aria-label="scrollable content" style="height: auto; overflow: hidden;"><div class="simplebar-content" style="padding: 0px;">
                                <!-- List group -->
                                <ul class="list-group list-group-flush notification-list-scroll fs-6">
                                    <!-- List group item -->
                                    <li class="list-group-item px-5 py-4 list-group-item-action active">
                                        <a href="https://freshcart.codescandy.com/dashboard/index.html#!" class="text-muted">
                                            <div class="d-flex">
                                           <img src="./Dashboard_files/avatar-1.jpg" alt="" class="avatar avatar-md rounded-circle ">
                                           <div class="ms-4">
                                           <p class="mb-1">
                                                <span class="text-dark">Your order is placed</span> waiting for shipping
                                            </p>
                                           <span><svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor" class="bi bi-clock text-muted" viewBox="0 0 16 16">
                                            <path d="M8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71V3.5z"></path>
                                            <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm7-8A7 7 0 1 1 1 8a7 7 0 0 1 14 0z"></path>
                                          </svg><small class="ms-2">1 minute ago</small></span>
                                        </div>
                                            </div>
                                        </a>



                                    </li>
                                    <li class="list-group-item  px-5 py-4 list-group-item-action">
                                        <a href="https://freshcart.codescandy.com/dashboard/index.html#!" class="text-muted">
                                            <div class="d-flex">
                                           <img src="./Dashboard_files/avatar-5.jpg" alt="" class="avatar avatar-md rounded-circle ">
                                           <div class="ms-4">
                                           <p class="mb-1">
                                                <span class="text-dark">Jitu Chauhan </span> answered to your pending order list with notes
                                            </p>
                                           <span><svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor" class="bi bi-clock text-muted" viewBox="0 0 16 16">
                                            <path d="M8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71V3.5z"></path>
                                            <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm7-8A7 7 0 1 1 1 8a7 7 0 0 1 14 0z"></path>
                                          </svg><small class="ms-2">2 days ago</small></span>
                                        </div>
                                            </div>
                                        </a>



                                    </li>
                                    <li class="list-group-item px-5 py-4 list-group-item-action">
                                        <a href="https://freshcart.codescandy.com/dashboard/index.html#!" class="text-muted">
                                            <div class="d-flex">
                                           <img src="./Dashboard_files/avatar-2.jpg" alt="" class="avatar avatar-md rounded-circle ">
                                           <div class="ms-4">
                                           <p class="mb-1">
                                                <span class="text-dark">You have new messages</span> 2 unread messages
                                            </p>
                                           <span><svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor" class="bi bi-clock text-muted" viewBox="0 0 16 16">
                                            <path d="M8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71V3.5z"></path>
                                            <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm7-8A7 7 0 1 1 1 8a7 7 0 0 1 14 0z"></path>
                                          </svg><small class="ms-2">3 days ago</small></span>
                                        </div>
                                            </div>
                                        </a>



                                    </li>

                                </ul>
                            </div></div></div></div><div class="simplebar-placeholder" style="width: 0px; height: 0px;"></div></div><div class="simplebar-track simplebar-horizontal" style="visibility: hidden;"><div class="simplebar-scrollbar" style="width: 0px; display: none;"></div></div><div class="simplebar-track simplebar-vertical" style="visibility: hidden;"><div class="simplebar-scrollbar" style="height: 0px; display: none;"></div></div></div>
                            <div class="border-top px-5 py-4 text-center">
                                <a href="https://freshcart.codescandy.com/dashboard/index.html#!" class=" ">
                                    View All
                                </a>
                            </div>
                        </div>

        </li>
        <li class="dropdown ms-4">
            <a href="https://freshcart.codescandy.com/dashboard/index.html#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <img src="./Dashboard_files/avatar-1.jpg" alt="" class="avatar avatar-md rounded-circle">
            </a>

            <div class="dropdown-menu dropdown-menu-end p-0">



                    <div class="lh-1 px-5 py-4 border-bottom">
                        <h5 class="mb-1 h6">FreshCart Admin</h5>
                        <small>admindemo@email.com</small>
                    </div>



                <ul class="list-unstyled px-2 py-3">

                    <li>
                        <a class="dropdown-item" href="https://freshcart.codescandy.com/dashboard/index.html#!">
                           Home
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="https://freshcart.codescandy.com/dashboard/index.html#!">
                        Profile
                        </a>


                    </li>


                    <li>
                        <a class="dropdown-item" href="https://freshcart.codescandy.com/dashboard/index.html#!">

                           Settings
                        </a>
                    </li>

                </ul>
                <div class="border-top px-5 py-3">

                    <a href="https://freshcart.codescandy.com/dashboard/index.html#">Log Out</a>
                </div>



            </div>

        </li>
        </ul>

    </div>

    </div>
    </div>
    </nav>

        <div class="main-wrapper">
            <!-- navbar vertical -->
            
			{% include 'dashboard/includes/navigation.html' %}
    

            <!-- main wrapper -->
            
	<main class="main-content-wrapper">
	<div class="container">
	  <!-- row -->
	  <div class="row mb-8">
		<div class="col-md-12">
		  <!-- page header -->
		  <div>
			<h2>Lista de Pedidos</h2>
			  <!-- breacrumb -->
			  <nav aria-label="breadcrumb">
			  <ol class="breadcrumb mb-0">
				<li class="breadcrumb-item"><a href="#">Dashboard</a></li>
				<li class="breadcrumb-item active" aria-current="page">Lista de Pedidos</li>
			  </ol>
			</nav>

		  </div>
		</div>
	  </div>
	  <!-- row -->
	  <div class="row">
		<div class="col-xl-12 col-12 mb-5">
		  <!-- card -->
		  <div class="card h-100 card-lg">
			<div class=" p-6 ">
			  <div class="row justify-content-between">
				<div class="col-md-4 col-12 mb-2 mb-md-0">
				  <!-- form -->
				  
				  <form class="d-flex" role="search">
					<input class="form-control" type="search" placeholder="Search" aria-label="Search">

				  </form>
				</div>
				<div class="col-lg-2 col-md-4 col-12">
				  <!-- select -->
				  <select class="form-select">
					<option selected="">Status</option>
					<option value="Success">Success</option>
					<option value="Pending">Pending</option>
					<option value="Cancel">Cancel</option>
				  </select>
				</div>
			  </div>
			</div>
			<!-- card body -->
			<div class="card-body p-0">
			  <!-- table responsive -->
			  <div class="table-responsive">
				<table class="table table-centered table-hover text-nowrap table-borderless mb-0 table-with-checkbox">
				  <thead class="bg-light">
					<tr>
					  <th>
						<div class="form-check">
						  <input class="form-check-input" type="checkbox" value="" id="checkAll">
						  <label class="form-check-label" for="checkAll">

						  </label>
						</div>
					  </th>
					  <th>Image</th>
					  <th>Order Name</th>
					  <th>Customer</th>
					  <th>Date &amp; TIme</th>
					  <th>Payment</th>
					  <th>Status</th>
					  <th>Amount</th>
					  <th></th>
					</tr>
				  </thead>
				  <tbody>
					{% for order in orders %}
					<tr>

					  <td>
						<div class="form-check">
						  <input class="form-check-input" type="checkbox" value="" id="orderOne">
						  <label class="form-check-label" for="orderOne">

						  </label>
						</div>
					  </td>
					  <td>
						<a href="#!"> <img src="../assets/images/products/product-img-1.jpg" alt="" class="icon-shape icon-md"></a>
					  </td>
					  <td><a href="#" class="text-reset">FC#1007</a></td>
					  <td>{{order.user}}</td>

					  <td>{{order.ordered_date}}</td>
					  <td>{{order.billing_address.payment_method}}</td>

					  <td>
						{%if order.received == 1 %}
							<span class="badge bg-light-primary text-dark-primary">Success</span>                                              
                        {% else %}
							<span class="badge bg-light-warning text-dark-warning">pendiente</span>                                    
                        {% endif %}
					  </td>
					  <td>${{order.payment.amount}}</td>

					  <td>
						<div class="dropdown">
						  <a href="#" class="text-reset" data-bs-toggle="dropdown" aria-expanded="false">
							<i class="feather-icon icon-more-vertical fs-5"></i>
						  </a>
						  <ul class="dropdown-menu">
							<li><a class="dropdown-item" href="#" data-toggle="modal" data-target="#exampleModalCenter" onclick="detalles({{order.id}})">
								<i class="bi bi-pencil-square me-3 "></i>Detalles
								</a>
							</li>
							<li><a class="dropdown-item" href="#"><i class="bi bi-trash me-3"></i>Delete</a></li>
							<li><a class="dropdown-item" href="#" data-toggle="modal" data-target="#update_order" onclick="updateOrder({{order.id}})" ><i class="bi bi-pencil-square me-3"></i>Actualizar</a>
							</li>
						  </ul>
						</div>
					  </td>
					</tr>
					{% endfor %}

				  </tbody>
				</table>
			  </div>
			</div>
			<div class="border-top d-md-flex justify-content-between align-items-center p-6">
			  <span>Showing 1 to 8 of 12 entries</span>
			  <nav class="mt-2 mt-md-0">
				<ul class="pagination mb-0 ">
				  <li class="page-item disabled"><a class="page-link " href="#!">Previous</a></li>
				  <li class="page-item"><a class="page-link active" href="#!">1</a></li>
				  <li class="page-item"><a class="page-link" href="#!">2</a></li>
				  <li class="page-item"><a class="page-link" href="#!">3</a></li>
				  <li class="page-item"><a class="page-link" href="#!">Next</a></li>
				</ul>
			  </nav>
			</div>
		  </div>

		</div>

	  </div>
	</div>
  	</main>

</div>


			<div class="main-panel">

				
				<!-- Modal -->
				<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
					<div class="modal-dialog modal-dialog-centered" role="document">
					<div class="modal-content">
						<div class="modal-header">
						<h5 class="modal-title" id="exampleModalLongTitle">Historial de Productos order N° #123</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
						</div>
						<div class="modal-body">
							<div class="card-body">
										<div class="row">
											<div class="col-md-12">
												<div class="table-responsive table-hover table-sales">
													<table class="table">
														<thead>
															<tr>
																<th>Img</th>
																<th>Titulo</th>
																<th>Precio</th>
																<th>Quantity</th>
																
															</tr>
														</thead>
														<tfoot>
															<tr>
																<th>Img</th>
																<th>Titulo</th>
																<th>Precio</th>
																<th>Quantity</th>
															</tr>
														</tfoot>
														<tbody id="detalles_items">
															
														
														</tbody>
													</table>
												</div>
											</div>
											
										</div>
									</div>
						</div>
						<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
						</div>
					</div>
					</div>
				</div>
                <!-- modal update order-->
				<div class="modal fade" id="update_order" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
					<div class="modal-dialog modal-dialog-centered" role="document">
					<div class="modal-content">
						<div class="modal-header">
						<h5 class="modal-title" id="exampleModalLongTitle">Historial de Productos order N° #123</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
						</div>

						<div class="modal-body">
							<div class="card-body">
										<div class="row">
											<div class="col-md-12" id="update_order_item">
												
													
												</form>
											</div>
											
										</div>
									</div>
						</div>
						<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
						</div>
					</div>
					</div>
				</div>
				{% include 'dashboard/includes/footer.html' %}

			</div>
		</div>
		
		<!-- Custom template | don't include it in your project! -->
		{% include 'dashboard/includes/configuration-plugin.html' %}

	</div>

	{% include 'dashboard/includes/scripts.html' %}

	<!-- Atlantis DEMO methods, don't include it in your project! -->
	<script src="/static/assets/js/setting-demo.js"></script>
	<script src="/static/assets/js/demo.js"></script>
    <script>
        function detalles(order_id) {
            //e.preventDefault();
            $.ajax({
            url: "/dashboardorder_api/"+order_id,
            type: 'GET',
            dataType: 'json', // added data type
                success: function(res) {
                    console.log(res.items);
                    let template = ''
                    document.getElementById("detalles_items").innerHTML = template
                    for (var key in res.items) {
                        template = `
                    
                            <tr>
                                <td>
                                    <div class="flag">
                                        <img src="/media/${res.items[key]['img']}" style="width: 60px;"> 
                                    </div>
                                </td>
                                <td class="text-right">
                                    ${res.items[key]['title']}
                                </td>
                                <td class="text-right">
                                    ${res.items[key]['price']}
                                </td>
                                <td class="text-right">
                                    ${res.items[key]['quantity']}
                                </td>
                                
                            </tr>`; 
                        
                        document.getElementById("detalles_items").innerHTML += template;
                    }
                    //document.getElementById("detalles_items").innerHTML = template;
                }
            })
        }

        //function update order
        function updateOrder(order_id) {
            template = `
            <form class="form-group" method="get" action="/dashboardreceived/${order_id}">
				{% csrf_token %}
                <label for="exampleFormControlTextarea1">Nota de Entrega</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="note"></textarea>
            
                <div class="form-group">
					<button type="submit" class="btn btn-secondary">Enviar</button>
				</div>
            </form>
            `; 
                        
            document.getElementById("update_order_item").innerHTML = template;
        }

    </script>
	<script>
		$('#lineChart').sparkline([102,109,120,99,110,105,115], {
			type: 'line',
			height: '70',
			width: '100%',
			lineWidth: '2',
			lineColor: '#177dff',
			fillColor: 'rgba(23, 125, 255, 0.14)'
		});

		$('#lineChart2').sparkline([99,125,122,105,110,124,115], {
			type: 'line',
			height: '70',
			width: '100%',
			lineWidth: '2',
			lineColor: '#f3545d',
			fillColor: 'rgba(243, 84, 93, .14)'
		});

		$('#lineChart3').sparkline([105,103,123,100,95,105,115], {
			type: 'line',
			height: '70',
			width: '100%',
			lineWidth: '2',
			lineColor: '#ffa534',
			fillColor: 'rgba(255, 165, 52, .14)'
		});
	</script>
	<script type="text/javascript" src="/static/assets/js/moment.min.js"></script>
	<script type="text/javascript" src="/static/assets/js/daterangepicker.js"></script>
	<script>

		$(function(){
			$('#date_range').daterangepicker({
			"startDate": "{{today_date}}",
			"endDate": "{{today_date}}"
			});
		})
		
	</script>
</body>
</html>

{% endblock %}