<ul class="nav flex-column nav-pills nav-pills-dark">
    <!-- nav item -->
    <li class="nav-item">
      <!-- nav link -->
      <a class="nav-link active" aria-current="page" href="/address"><i class="feather-icon icon-map-pin me-2"></i>Dirección</a>
    </li>
    <!-- nav item -->
    <li class="nav-item">
      <a class="nav-link " href="/metodopago"><i class="feather-icon icon-credit-card me-2"></i>Método de Pago</a>
    </li>
    <!-- nav item -->
    <li class="nav-item">
      <a class="nav-link" href="/pedidos"><i class="feather-icon icon-shopping-bag me-2"></i>Tus Pedidos</a>
    </li>
    
    <!-- nav item -->
    <li class="nav-item">
      <hr>
    </li>
   
  </ul>