<div class="position-fixed offset-12 offset-md-6 col-xl-6 col-lg-6 col-md-12 col-12 mb-6" style="z-index: 99999; bottom: 80px;">
    {% if messages %}
        <div class="h-100" style="position: absolute; bottom: 40px !important; right: 20px; width: 100%;">
            {% for message in messages %}
            <div class="card card-lg mb-6">
                <!-- card body -->
                {% if message.tags == 'info' %}
                <div class="card-body px-6 py-8 notification" id="notification">
                    <button type="button" class="btn-close" data-bs-dismiss="notification" aria-label="Close"></button>
                    <div class="d-flex align-items-center">
                        <div>
                            <!-- svg -->
                            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-bell text-warning" viewBox="0 0 16 16">
                                <path d="M8 16a2 2 0 0 0 2-2H6a2 2 0 0 0 2 2zM8 1.918l-.797.161A4.002 4.002 0 0 0 4 6c0 .628-.134 2.197-.459 3.742-.16.767-.376 1.566-.663 2.258h10.244c-.287-.692-.502-1.49-.663-2.258C12.134 8.197 12 6.628 12 6a4.002 4.002 0 0 0-3.203-3.92L8 1.917zM14.22 12c.223.447.481.801.78 1H1c.299-.199.557-.553.78-1C2.68 10.2 3 6.88 3 6c0-2.42 1.72-4.44 4.005-4.901a1 1 0 1 1 1.99 0A5.002 5.002 0 0 1 13 6c0 .88.32 4.2 1.22 6z"></path>
                            </svg>
                        </div>
                        <!-- text -->
                        <div class="ms-4">
                            <h5 class="mb-1">{{ message }}</h5>
                            
                        </div>

                    </div>
                </div>
                {% else %}
                <div class="card-body px-6 py-8 notification" id="notification">
                    <button type="button" class="btn-close" data-bs-dismiss="notification" aria-label="Close"></button>
                    <div class="d-flex align-items-center">
                        <!-- svg -->
                        <div>
                            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-lightbulb text-success" viewBox="0 0 16 16">
                                <path d="M2 6a6 6 0 1 1 10.174 4.31c-.203.196-.359.4-.453.619l-.762 1.769A.5.5 0 0 1 10.5 13a.5.5 0 0 1 0 1 .5.5 0 0 1 0 1l-.224.447a1 1 0 0 1-.894.553H6.618a1 1 0 0 1-.894-.553L5.5 15a.5.5 0 0 1 0-1 .5.5 0 0 1 0-1 .5.5 0 0 1-.46-.302l-.761-1.77a1.964 1.964 0 0 0-.453-.618A5.984 5.984 0 0 1 2 6zm6-5a5 5 0 0 0-3.479 8.592c.263.254.514.564.676.941L5.83 12h4.342l.632-1.467c.162-.377.413-.687.676-.941A5 5 0 0 0 8 1z"></path>
                            </svg>
                        </div>
                        <!-- text -->
                        <div class="ms-4">
                            <h5 class="mb-1">{{ message }}</h5>
                            
                        </div>

                    </div>



                </div>
                {% endif %}
            </div>

            {% endfor %}
        </div>
    {% endif %}
</div>
